;;; package --- local config ;; -*- emacs-lisp -*-

;;; Commentary:

;;; Code:


(setq   calendar-latitude 32.32
        calendar-longitude -100.0
        calendar-location-name "Merkel, Texas"
        forecast-units "us")

(provide 'forecast-api/config)

;;; forecast-api.config.el ends here
