;;; package --- API key ;; -*- emacs-lisp -*-

;;; Commentary:

;;; Code:

;;; Obtain from https://darksky.net/dev
(setq forecast-api-key "0123456789abcdef0123456789abcdef")

(provide 'forecast-api/key)

;;; forecast-api.key.el ends here
